.turnedOff{
    animation: turnOffAnimation 1.2s ease-in forwards; 
  } 
  
  @keyframes turnOffAnimation {
    0% {
      transform: scaleY(1);
      transform: scaleX(1);
    }
    30% {
      transform: scaleY(1);
    }
    68%,
    72% {
      transform: scaleY(0.1);
    }
    100% {
      transform: scaleX(0);
      transform: scaleY(0); 
    } 
  }

  .noise {
    background: 
      repeating-radial-gradient(#fff 0 1%,#000 0 20%) 50% 0/2500px 2500px;
      
  }
  