.turnedOff{
    animation: turnOffAnimation 1.2s ease-in forwards; 
  } 
  
  @keyframes turnOffAnimation {
    0% {
      transform: scaleY(1);
      transform: scaleX(1);
    }
    30% {
      transform: scaleY(1);
    }
    68%,
    72% {
      transform: scaleY(0.1);
    }
    100% {
      transform: scaleX(0);
      transform: scaleY(0); 
    } 
  }

  .noise {
    background: 
      repeating-radial-gradient(#000 0 0.0001%,#fff 0 0.0002%) 50% 0/2500px 2500px,
      repeating-conic-gradient(#000 0 0.0001%,#fff 0 0.0002%) 60% 60%/2500px 2500px;
    background-blend-mode: difference;
    animation: b .2s infinite alternate;
  }
  @keyframes b{
    100% {background-position: 50% 0, 60% 50%}
  }
  
  